
.add-variables-widget {
    align-items: center;
    border-top: 2px solid #ffffff6e; 
    background-color: transparent; 
    padding: 10px;
    display:flex;
    color: rgba(255, 255, 255, 0.39);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
  }
  .add-variables-widget:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .add-variables-text:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .add-variables-text {
    text-align: ;
    font-style: italic; 
    color: #ffffffc7;
    font-size: 1.2rem; 
  }