.dropdown {
  position: relative;
  display: block;
  width: 100%; 
}

.dropdownButton {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none; 
  outline: none; 
}

.dropdownContent {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  left: 0; 
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdownContent,
.dropdown:focus-within .dropdownContent {
  display: block;
}
