.project-menu {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: left;
  
  
  color: black;
}
.default-message {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
  color: white;
  font-style: italic;
}